/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/main/StarBackground.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
/* StarBackground.css */
.star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Ensures stars won't block other UI elements */
  z-index: 1000;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: moveStars 60s linear infinite, twinkle 1.5s ease-in-out infinite;
  opacity: 0.8;
}

/* Stars will move from one point to another (across the screen) */
@keyframes moveStars {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(100vw);
  }
}

/* Twinkling effect: Change opacity over time */
@keyframes twinkle {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

